/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #393837;
    color: #ffffff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #474746;
    padding: 20px 0;
    text-align: center;
}

.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #30302f;
    border-radius: 12px;
    padding: 20px;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(58, 56, 56, 0.2);
}

.profile-pic {
    width: 250px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid #2a2424;
}

nav {
    background-color: #2e2b27;
    padding: 10px 0;
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}
nav ul li a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s;
}
nav ul li a:hover {
    background-color: #252522;
    color: white;
    border-radius: 5px;
}

.section {
    background: #312f2f;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(22, 23, 23, 0.1);
    margin: 20px auto;
    text-align: center;
    max-width: 80%;
}

.skills-horizontal {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.1em;
    color: #fffdfc;;
}

footer {
    background: #2c2f2e;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: auto;
}

.no-dots {
    list-style: none;
}

.link-dark {
    color: rgb(247, 242, 242);
    text-decoration: none;
}
